<!DOCTYPE html>
<html>
<head>
<title>Image Generator</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<link rel="stylesheet" href="/static/css/maas.css" type="text/css">
</head>
<body>
{% include "common_header.html" %}
<form id="meme_form" action="/create_meme" method="POST">
  Template:
  <select name="meme_template">
    {% for template in templates %}
    <option value="{{template}}">{{template}}
    {% endfor %}
  </select>
  Font:
  <select name="meme_font">
    {% for font in fonts %}
    <option value="{{font}}">{{font}}
    {% endfor %}
  </select>
  <br>
  Upper Text: <input name="upper_text" size="100">
  Align:
  <select name="upper_text_align">
    <option value="left">Left
    <option value="middle" selected>Center
    <option value="right">Right
  </select>
  <br>
  Middle Text: <input name="middle_text" size="100">
  Align:
  <select  name="middle_text_align">
    <option value="left">Left
    <option value="middle" selected>Center
    <option value="right">Right
  </select>
  <br>
  Lower Text: <input name="lower_text" size="100">
  Align:
  <select name="lower_text_align">
    <option value="left">Left
    <option value="middle" selected>Center
    <option value="right">Right
  </select>
  <br>
  <input type="submit" name="save_meme" value="Save this meme">
</form>
<hr>
<div id="preview"><img id="preview_image"></div>
<script>
  var Maas = {};
  Maas.updatePreview = function() {
      $("#preview_image").attr("src",
                               "/preview?" + $("#meme_form").serialize());
  };
  Maas.DelayedAction = function(delayMillis, action) {
    var self = this;
    this.task = function() {
      self.action();
      self.taskId = null;
    }
    this.delayMillis = delayMillis;
    this.action = action;
    this.taskId = null;
  };
  Maas.DelayedAction.prototype.trigger = function() {
    this.cancel();
    this.taskId = window.setTimeout(this.task, this.delayMillis);
  };
  Maas.DelayedAction.prototype.cancel = function() {
    if (this.taskId) {
      window.clearTimeout(this.taskId);
    }
    this.taskId = null;
  };
  Maas.previewUpdater = new Maas.DelayedAction(350, Maas.updatePreview);
  $(document).ready(function() {
    $("select[name=meme_template], select[name=meme_font], " +
      "select[name=upper_text_align], select[name=middle_text_align], " +
      "select[name=lower_text_align]").change(function(event) {
      Maas.previewUpdater.trigger();
    });
    $("input[name=upper_text]")[0].oninput = function() {
      Maas.previewUpdater.trigger();
    };
    $("input[name=middle_text]")[0].oninput = function() {
      Maas.previewUpdater.trigger();
    };
    $("input[name=lower_text]")[0].oninput = function() {
      Maas.previewUpdater.trigger();
    };
    Maas.updatePreview();
  });
</script>
</body>
</html>
